#!/usr/bin/env zsh

export HISTFILE="$XDG_STATE_HOME/zsh/zhistory"    # History filepath
export HISTSIZE=10000                   # Maximum events for internal history
export SAVEHIST=10000                   # Maximum events in history file

autoload -U compinit;
compinit -d $XDG_CACHE_HOME/zsh/zcompdump-$ZSH_VERSION
zstyle ':completion:*' cache-path $XDG_CACHE_HOME/zsh/zcompcache

[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion" # This loads nvm bash_completion


# ZSH syntax highlighting
source /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
ZSH_HIGHLIGHT_HIGHLIGHTERS=(main brackets pattern cursor)
# ZSH_HIGHLIGHT_PATTERNS+=('rm -rf *' 'fg=red,bold')


# Set default user.
# Will remove from prompt if matches current user
DEFAULT_USER="ryan"

export PATH="/Applications/Visual Studio Code.app/Contents/Resources/app/bin":$PATH  # VS Code CLI
export PATH="/usr/local/opt/coreutils/libexec/gnubin":$PATH                          # GNU utilities instead of default OSX BSD versions
export PATH="/usr/local/sbin":$PATH                                                  # Homebrew sbin
export PATH="/usr/local/bin":$PATH                                                   # Homebrew bin

exec-zsh() {
  zle -I
  exec zsh <$TTY
}

zle -N exec-zsh
bindkey '^n' exec-zsh

# Aliases
# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias d="cd ~/Dropbox"
alias p="cd ~/Dropbox/Projects"
alias dotfiles="cd ~/.dotfiles"
alias snippets="cd ~/Library/Application\ Support/Sublime\ Text\ 3/Packages/User/wordpress"
# alias reload="source ~/.zshrc"
alias reload="exec zsh"
alias g="git"
alias h="history"
alias v="vim"
alias m="mate"
alias mc="mate ."
alias s="sub"
alias sc="sub ."
alias o="open"
alias oo="open ."
alias wget="wget --hsts-file $XDG_CACHE_HOME/wget/wget-hsts"
alias gitzip='git archive --format zip --output $PWD.zip master'

# Quick edit for hosts file in Sublime Text
alias hosts="sudo sub /etc/hosts"

# List all files colorized in long format
alias l="ls -lFh --color"

# List all files colorized in long format, including dot files
alias la="ls -laFh --color"

# List only directories
alias lsd='ls -lFh --color | grep "^d"'

# Always use color output for `ls`
# alias ls="command ls --color"

# Don't correct and enable aliases to be sudo’ed
alias sudo='nocorrect sudo '

# Get OS X Software Updates, and update Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade;'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.Finder AppleShowAllFiles YES && killall Finder"
alias hide="defaults write com.apple.Finder AppleShowAllFiles NO && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 7'"

# colors
export LS_COLORS="$(vivid generate catppuccin-mocha)"
#eval $(dircolors {{ .chezmoi.workingTree }}/extras/dircolors)
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"

eval $(starship init zsh)
